.FormContainer .submitButton {
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.FormContainer .submitButton:focus {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.RegPageContainer {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content1;
      grid-template-columns: [first-column] 40% [second-column] auto;
      grid-template-rows: [first-row] 100%;
      grid-template-areas: "content1 content2";
}

.textContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content1;
  font-family: "Roboto", "sans-serif";
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: justify;
  background-color: #e1630f;
  color: white;
}

.outerFormContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #52808d;
}

.FormContainer {
  font-family: "Roboto", "sans-serif";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vh 10vw;
  -webkit-box-shadow: 3px 0px 1px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 3px 0px 1px 0 rgba(0, 0, 0, 0.16);
  color: rgba(240, 111, 25, 0.9);
  background-color: white;
}

.FormContainer label {
  font-size: 2.5vh;
  font-weight: bold;
  justify-items: left;
  margin-top: 10px;
}

.FormContainer .formTitle {
  font-size: 4vh;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.FormContainer .formInput {
  font-size: 2.5vh;
  line-height: 3vh;
  border-radius: 2px;
  border: 0.5vh solid rgba(186, 209, 215, 0.8);
  padding: 5px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
  -webkit-transition: border 0.4s;
  transition: border 0.4s;
}

.FormContainer .formInput:hover,
.FormContainer .formInput:focus {
  border: 0.5vh solid #52808d;
}

.FormContainer .submitButton {
  background-color: #f06f19;
  min-width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0 solid white;
  border-radius: 2px;
  font-size: 2.5vh;
  padding: 1.5vh 1.7vw;
  margin: 2vh 0px;
  color: white;
  cursor: pointer;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.FormContainer .submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.FormContainer .submitButton:hover {
  background-color: #d55d0e;
}

.FormContainer .submitButton:focus {
  border: 0;
  outline: 0;
}

.FormContainer .errorValidation {
  font-size: 2vh;
  padding: 0;
  margin: 0;
  color: #df1301;
}
