.Header, .Footer {
  background-color: #52808d;
  color: white;
}

.sidebarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header, .Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebarContainer .controlsContainer .primaryButton {
  font-size: 2.5vh;
  border: 0;
  width: 100%;
  color: white;
  background-color: #f06f19;
  padding: 2vh;
}

.FormContainer .submitButton {
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.FormContainer .submitButton:focus {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.Header, .Footer {
  background-color: #52808d;
  color: white;
}

.sidebarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header, .Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebarContainer .controlsContainer .primaryButton {
  font-size: 2.5vh;
  border: 0;
  width: 100%;
  color: white;
  background-color: #f06f19;
  padding: 2vh;
}

.FormContainer .submitButton {
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.FormContainer .submitButton:focus {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.mainPageContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.Header, .Footer {
  background-color: #52808d;
  color: white;
}

.sidebarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header, .Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebarContainer .controlsContainer .primaryButton {
  font-size: 2.5vh;
  border: 0;
  width: 100%;
  color: white;
  background-color: #f06f19;
  padding: 2vh;
}

.FormContainer .submitButton {
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.FormContainer .submitButton:focus {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.Header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: header1;
  padding-left: 5vw;
}

.Header .spacer {
  width: 100%;
}

.Header .linkContainer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1vw;
  height: 100%;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.Header .linkContainer:hover {
  background-color: #f06f19;
  cursor: pointer;
}

.Header .linkContainer:hover .link {
  color: white;
}

.Header .link {
  height: 100%;
  max-width: 40%;
  text-decoration: none;
  font-size: 4vh;
}

.Header .link:visited {
  color: #f06f19;
}

.Header .title {
  font-size: 4vh;
}

@media only screen and (max-width: 1024px) {
  .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .link {
    width: 100%;
    min-width: 100%;
  }
  .spacer {
    display: none;
  }
}

.Header, .Footer {
  background-color: #52808d;
  color: white;
}

.sidebarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header, .Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebarContainer .controlsContainer .primaryButton {
  font-size: 2.5vh;
  border: 0;
  width: 100%;
  color: white;
  background-color: #f06f19;
  padding: 2vh;
}

.FormContainer .submitButton {
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.FormContainer .submitButton:focus {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.Footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: footer;
  padding-left: 1vw;
}

.Footer .spacer {
  width: 100%;
}

.Footer .link {
  text-decoration: none;
  font-size: 4vh;
  padding: 0 2vw;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.Footer .link:visited {
  color: #f06f19;
}

.Footer .link:hover {
  font-size: 6vh;
}

.Footer .footer-text {
  font-size: 4vh;
  text-align: center;
}

.Header, .Footer {
  background-color: #52808d;
  color: white;
}

.sidebarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header, .Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebarContainer .controlsContainer .primaryButton {
  font-size: 2.5vh;
  border: 0;
  width: 100%;
  color: white;
  background-color: #f06f19;
  padding: 2vh;
}

.FormContainer .submitButton {
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.FormContainer .submitButton:focus {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.sidebarContainer {
  width: 0;
  font-family: "Poppins", "Roboto";
  font-size: 2.5vh;
  grid-area: sidebar;
  background-color: #3f636d;
  justify-items: center;
  visibility: hidden;
}

.sidebarContainer .controlsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.sidebarContainer .controlsContainer .primaryButton:focus {
  outline: 0;
  background-color: #c9580d;
}

.sidebarContainer .controlsContainer .spacer {
  height: 100%;
}

.showSidebarContainer {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebarTransitions-enter {
  width: 0vw;
  -webkit-transition: width 800ms;
  transition: width 800ms;
}

.sidebarTransitions-enter-active {
  width: 25vw;
  visibility: visible;
  -webkit-transition: width 800ms;
  transition: width 800ms;
}

.sidebarTransitions-enter-done {
  width: 25vw;
  visibility: visible;
  -webkit-transition: width 800ms;
  transition: width 800ms;
}

.sidebarTransitions-exit {
  width: 25vw;
  opacity: 1;
  visibility: visible;
}

.sidebarTransitions-exit-active {
  width: 0vw;
  visibility: visible;
  opacity: 0;
  -webkit-transition: width 800ms, opacity 500ms;
  transition: width 800ms, opacity 500ms;
}

.sidebarTransitions-exit-done {
  width: 0vw;
  -webkit-transition: width 800ms;
  transition: width 800ms;
}

.Header, .Footer {
  background-color: #52808d;
  color: white;
}

.sidebarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header, .Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebarContainer .controlsContainer .primaryButton {
  font-size: 2.5vh;
  border: 0;
  width: 100%;
  color: white;
  background-color: #f06f19;
  padding: 2vh;
}

.FormContainer .submitButton {
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.FormContainer .submitButton:focus {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.RegPageContainer {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content1;
      grid-template-columns: [first-column] 40% [second-column] auto;
      grid-template-rows: [first-row] 100%;
      grid-template-areas: "content1 content2";
}

.textContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content1;
  font-family: "Roboto", "sans-serif";
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: justify;
  background-color: #e1630f;
  color: white;
}

.outerFormContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #52808d;
}

.FormContainer {
  font-family: "Roboto", "sans-serif";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vh 10vw;
  -webkit-box-shadow: 3px 0px 1px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 3px 0px 1px 0 rgba(0, 0, 0, 0.16);
  color: rgba(240, 111, 25, 0.9);
  background-color: white;
}

.FormContainer label {
  font-size: 2.5vh;
  font-weight: bold;
  justify-items: left;
  margin-top: 10px;
}

.FormContainer .formTitle {
  font-size: 4vh;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.FormContainer .formInput {
  font-size: 2.5vh;
  line-height: 3vh;
  border-radius: 2px;
  border: 0.5vh solid rgba(186, 209, 215, 0.8);
  padding: 5px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
  -webkit-transition: border 0.4s;
  transition: border 0.4s;
}

.FormContainer .formInput:hover,
.FormContainer .formInput:focus {
  border: 0.5vh solid #52808d;
}

.FormContainer .submitButton {
  background-color: #f06f19;
  min-width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0 solid white;
  border-radius: 2px;
  font-size: 2.5vh;
  padding: 1.5vh 1.7vw;
  margin: 2vh 0px;
  color: white;
  cursor: pointer;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.FormContainer .submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.FormContainer .submitButton:hover {
  background-color: #d55d0e;
}

.FormContainer .submitButton:focus {
  border: 0;
  outline: 0;
}

.FormContainer .errorValidation {
  font-size: 2vh;
  padding: 0;
  margin: 0;
  color: #df1301;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font: 100% "Poppins", "Roboto";
  background-color: #52808d;
  color: #f06f19;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  body #root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
