.Footer {
  @extend %flex-space-between;
  
  background-color: #424242;
  grid-area: footer;
  justify-content: center;
  align-items: center;  
  .spacer {
    width: 100%;
  }
  .link {
    padding: 0 2vw;

    font-size: $title-size;
    text-decoration: none;

    transition: font-size 0.5s;
  }
  .link:visited {
    color: $primary-color;
  }
  .link:hover {
    font-size: $title-size + 2;
  }

}
