.contestCardContainer {
  width: 90%;
  height: 15vh;
  padding: 1vh 2vh 3vh;
  margin: 2vh 0;

  font-family: "Roboto";

  color: lighten(black, 40);

  display: flex;
  align-self: center;
  box-shadow: $box-shadow;
}
.baseInfo {
  width: 40%;
  min-height: 90%;

  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;

  .contestName {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3vh;
  }
  .timePeriod {
    font-style: italic;
  }
}

%contest-card-text {
  padding-left: 10px;
  width: 30%;

  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}
.description {
  @extend %contest-card-text;
  text-align: justify;
}
.status,
.controls {
  @extend %contest-card-text;
  @extend %flex-center;
  justify-content: center;
  align-content: flex-start;
  width: 20%;
}
.controls {
  @extend %flex-center;
  width: 10%;

  .controlButton {
    flex-flow: column wrap;
    @extend %flex-center;
  }
  .controlButton:hover {
    box-shadow: $box-shadow;
  }
}
.iconDescription {
  align-self: flex-start;
  position: fixed;

  background-color: rgba(black, 0.8);
  border-radius: 5px;
  padding: 1vh 2vh 2vh;
  margin: 1vh 0 12vh 3vh;
  color: white;
}
@media only screen and (max-width: 1024px) {
  .contestCardContainer {
    height: 20vh;
    width: 100%;
  }
}
