@import "./Main_variables.scss";

.textContainer {
  grid-area: 1 / 1/ 2/ 2;
  font-family: $font-stack-secondary;
  font-size: $title-size;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-align: justify;
  background-color: adjust-color($color: $background-color, $lightness: -15%);
  color: white;
}

//Стилизация контейнера формы и ее элементов(кнопки сабмита, полей, подписей)
.FormContainer {
  grid-area: 1 / 2/ 1/ 3;
  font-family: $font-stack-secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 20vw;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
  color: white;
  background-color: adjust-color($color: $primary-color, $alpha: -0.5);
  label {
    font-size: $label-size;
    font-weight: bold;
    justify-items: left;
    margin-top: 10px;
  }
  .formTitle {
    font-size: $title-size;
    text-align: center;
    align-self: center;
  }
  .formInput {
    font-size: $fields-size - 0.5;
    line-height: $fields-size;
    border-radius: 5px;
    border: 0.5vh solid $background-color;
    padding: 5px;
    box-shadow: 0;
    outline: 0;
  }
  .formInput:focus {
    border: 0.5vh solid
      adjust-color($color: $background-color, $hue: 180, $lightness: -25%);
  }
  .submitButton {
    background-color: $primary-color2;
    border: 0.2vh solid white;
    border-radius: 5px;
    font-size: $label-size;
    padding: 0.5vh 1vw;
    margin: 2vh 0px;
    color: white;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
  }
  .submitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .submitButton:hover {
    background-color: adjust-color(
      $color: $primary-color,
      $lightness: 10%,
      $alpha: 1
    );
  }
  .submitButton:focus {
    background-color: adjust-color(
      $color: $primary-color,
      $lightness: -10%,
      $alpha: 1
    );
    border-top: 0.2vh solid
      adjust-color($color: white, $lightness: -50%, $alpha: 1);
    border-left: 0.2vh solid
      adjust-color($color: white, $lightness: -50%, $alpha: 1);
    outline: 0;
  }
  .errorValidation {
    font-size: $mini-label-size;
    padding: 0;
    margin: 0;
    color: $error-color;
  }
}
