.RegPageContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-area: content1;
  grid-template-columns: [first-column] 40% [second-column] auto;
  grid-template-rows: [first-row] 100%;
  grid-template-areas: "content1 content2";
}
.textContainer {
  grid-area: content1;
  font-family: $font-stack-secondary;
  font-size: $title-size;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: justify;
  background-color: adjust-color($color: $primary-color, $lightness: -5%);
  color: white;
}

//Стилизация контейнера формы и ее элементов(кнопки сабмита, полей, подписей)
.outerFormContainer {
  grid-area: content2;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: $background-color;
}
.FormContainer {
  font-family: $font-stack-secondary;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 10vw;
  box-shadow: 3px 0px 1px 0 rgba(0, 0, 0, 0.16);
  color: adjust-color($color: $primary-color, $lightness: 0%, $alpha: -0.1);
  background-color: white;
  label {
    font-size: $label-size;
    font-weight: bold;
    justify-items: left;
    margin-top: 10px;
  }
  .formTitle {
    font-size: $title-size;
    text-align: center;
    align-self: center;
  }
  .formInput {
    font-size: $fields-size - 0.5;
    line-height: $fields-size;
    border-radius: 2px;
    border: 0.5vh solid
      adjust-color($color: $background-color, $lightness: 35%, $alpha: -0.2);
    padding: 5px;
    box-shadow: 0;
    outline: 0;
    transition: border 0.4s;
  }
  .formInput:hover,
  .formInput:focus {
    border: 0.5vh solid $background-color;
  }
  .submitButton {
    @extend %button-3d-effect;
    background-color: adjust-color($color: $primary-color, $alpha: 1);
    min-width: 20%;
    align-self: center;
    border: 0 solid white;
    border-radius: 2px;
    font-size: $label-size;
    padding: 1.5vh 1.7vw;
    margin: 2vh 0px;
    color: white;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
  }
  .submitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .submitButton:hover {
    background-color: adjust-color($color: $primary-color, $lightness: -7.5%);
  }
  .submitButton:focus {
    @extend %button-3d-effect-active;
    border: 0;
    outline: 0;
  }
  .errorValidation {
    font-size: $mini-label-size;
    padding: 0;
    margin: 0;
    color: $error-color;
  }
}
