$font-stack: "Poppins", "Roboto";
$font-stack-secondary: "Roboto", "sans-serif";

$primary-color: #c43d16;
$primary-color2: #dc6d02;
$background-color: #edc596;
$out-of-focus-color: #fcb500;
$error-color: #df1301;
$fields-size: 3vh;
$title-size: 4vh;
$label-size: 2.5vh;
$mini-label-size: 2vh;
