//Анимация переходов для сайдбара, подробнее в документации к CSSTransitions от react-group-transition
.sidebarTransitions-enter {
  width: 0vw;
  transition: width 500ms;
}
.sidebarTransitions-enter-active {
  width: 25vw;
  visibility: visible;
  transition: width 500ms;
}
.sidebarTransitions-enter-done {
  width: 25vw;
  visibility: visible;
  transition: width 500ms;
}
.sidebarTransitions-exit {
  width: 25vw;
  opacity: 1;
  visibility: visible;
}
.sidebarTransitions-exit-active {
  width: 0vw;
  visibility: visible;
  opacity: 0;
  transition: width 500ms, opacity 500ms;
}
.sidebarTransitions-exit-done {
  width: 0vw;
  transition: width 500ms;
}

//Анимация появления модальных форм(вылет слева)
.slideIn-enter {
  opacity: 0;
  left: -40vh;
}
.slideIn-enter-active {
  left: 30%;
  opacity: 1;
  transition: opacity 500ms ease-in, left 500ms;
}
.slideIn-enter-done {
}

.slideIn-exit {
  left: 30%;
  opacity: 1;
}
.slideIn-exit-active {
  left: 100%;
  opacity: 0;
  transition: opacity 500ms ease-in, left 500ms;
}

//Анимация появления модальных форм(медленное появление)
.fadeIn-enter {
  opacity: 0;
}
.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fadeIn-enter-done {
}
.fadeIn-exit {
  opacity: 1;
}
.fadeIn-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}
